
*{
  box-sizing: border-box;
}
body{
    background-color: #dcf7e4;
}
.detail,
.detail * {
  box-sizing: border-box;
}
.detail {
  background: #e6f4ea;
  height: 3032px;
  position: relative;
  overflow: hidden;
}
.rectangle-43 {
  background: #ffffff;
  opacity: 0.7;
  width: 1676px;
  height: 783px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 265px;
}
.rectangle-48 {
  background: #ffffff;
  opacity: 0.7;
  width: 1676px;
  height: 729px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1151px;
}
.sayurverse {
  position: absolute;
  inset: 0;
}
.rectangle-13 {
  background: #1ee16c;
  border-radius: 20px;
  width: 432px;
  height: 68px;
  position: absolute;
  left: 1277px;
  top: 45px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.beranda {
  color: #4e4e4e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 665px;
  top: 58px;
}
.daftar {
  color: #4e4e4e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 492px;
  top: 58px;
}
.profil {
  color: #4e4e4e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 875px;
  top: 58px;
}
.keranjang {
  color: #4e4e4e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1016px;
  top: 58px;
}
.ic-round-search {
  width: 54px;
  height: 54px;
  position: absolute;
  left: 1635px;
  top: 52px;
  overflow: visible;
  aspect-ratio: 1;
}
.cari-sayuran {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-ThinItalic", sans-serif;
  font-size: 32px;
  font-weight: 100;
  font-style: italic;
  position: absolute;
  left: 1333px;
  top: 59px;
}
.sayur-verse {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 54px;
  width: 348px;
  height: 60px;
}
.sayur-verse-span {
  color: #388e3c;
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}
.sayur-verse-span2 {
  color: #000000;
  font-family: "Poppins-ThinItalic", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.rectangle-47 {
  background: #ffffff;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 960px;
  height: 608px;
  position: absolute;
  left: 41px;
  top: 335px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.kubis-kol-removebg-preview-2 {
  width: 611px;
  height: 482px;
  position: absolute;
  left: 215px;
  top: 398px;
  object-fit: cover;
  aspect-ratio: 611/482;
}
.tomat {
  color: #1ee16c;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 1027px;
  top: 314px;
}
.anda-mungkin-juga-suka {
  color: #1ee16c;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 68px;
  top: 1198px;
}
.rp-18-000-1-kg {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 1027px;
  top: 821px;
}
.rp-18-000-1-kg-span {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.rp-18-000-1-kg-span2 {
  font-family: "Poppins-Thin", sans-serif;
  font-size: 36px;
  font-weight: 100;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.rectangle-482 {
  background: #ffffff;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 661px;
  height: 80px;
  position: absolute;
  left: calc(50% - -163px);
  top: 386px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-12 {
  width: 619.9px;
  height: 45.66px;
  position: static;
}
.deskripsi {
  color: #388e3c;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 1048px;
  top: 403px;
  width: 149.22px;
  height: 45.66px;
}
.manfaat {
  color: #000000;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 1329.41px;
  top: 403px;
  width: 139.2px;
  height: 45.66px;
}
.tips {
  color: #388e3c;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 1600.8px;
  top: 403px;
  width: 67.1px;
  height: 45.66px;
}

.tomat-mengandung-vitamin-c-likopen-dan-antioksidan-yang-membantu-menjaga-daya-tahan-tubuh-serta-menyehatkan-kulit-dan-jantung {
  color: #000000;
  text-align: left;
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: 1022px;
  top: 586px;
}
.rectangle-472 {
  background: #ffa726;
  border-radius: 20px;
  width: 363px;
  height: 65px;
  position: absolute;
  left: calc(50% - -461px);
  top: 882px;
}
.masukan-keranjang {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1432px;
  top: 900px;
}
.vector {
  width: 2.31%;
  height: 1.32%;
  position: absolute;
  right: 18.23%;
  left: 79.46%;
  bottom: 69.16%;
  top: 29.52%;
  overflow: visible;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.tmn {
  width: 388px;
  height: 519px;
  position: static;
}
.rectangle-41 {
  background: #ffffff;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 388px;
  height: 519px;
  position: absolute;
  left: 68px;
  top: 1285px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-46 {
  background: #ffa726;
  border-radius: 20px;
  width: 363px;
  height: 65px;
  position: absolute;
  left: calc(50% - 784px);
  top: 1730px;
}
.timun {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 80px;
  top: 1561px;
}
._1-kg {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 1615px;
}
.rp-10-000 {
  color: #388e3c;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 1663px;
}
.masukan-keranjang2 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 192px;
  top: 1748px;
}
.vector2 {
  width: 2.31%;
  height: 1.32%;
  position: absolute;
  right: 89.99%;
  left: 7.7%;
  bottom: 41.19%;
  top: 57.49%;
  overflow: visible;
}
.sawi-hijau-2 {
  width: 235px;
  height: 235px;
  position: absolute;
  left: 142px;
  top: 1292px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ra {
  width: 388px;
  height: 519px;
  position: static;
}
.rectangle-412 {
  background: #ffffff;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 388px;
  height: 519px;
  position: absolute;
  left: 465px;
  top: 1285px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.kubis-kol-removebg-preview-1 {
  width: 217.26px;
  height: 205px;
  position: absolute;
  left: 523px;
  top: 1302px;
  object-fit: cover;
  aspect-ratio: 217.26/205;
}
.rectangle-462 {
  background: #ffa726;
  border-radius: 20px;
  width: 363px;
  height: 65px;
  position: absolute;
  left: calc(50% - 387px);
  top: 1730px;
}
.rawit-merah {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 477px;
  top: 1561px;
}
._1-kg2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 477px;
  top: 1615px;
}
.kubis-kol-removebg-preview-2{
  z-index: 2;
  position: relative;
}
.rp-60-000 {
  color: #388e3c;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 477px;
  top: 1663px;
}
.masukan-keranjang3 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 589px;
  top: 1748px;
}
.vector3 {
  width: 2.31%;
  height: 1.32%;
  position: absolute;
  right: 67.01%;
  left: 30.67%;
  bottom: 41.19%;
  top: 57.49%;
  overflow: visible;
}
.bm {
  width: 388px;
  height: 519px;
  position: static;
}
.rectangle-413 {
  background: #ffffff;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 388px;
  height: 519px;
  position: absolute;
  left: 862px;
  top: 1285px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-463 {
  background: #ffa726;
  border-radius: 20px;
  width: 363px;
  height: 65px;
  position: absolute;
  left: calc(50% - -10px);
  top: 1730px;
}
.bawang-merah {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 874px;
  top: 1561px;
}
._1-kg3 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 874px;
  top: 1615px;
}
.rp-40-000 {
  color: #388e3c;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 874px;
  top: 1663px;
}
.masukan-keranjang4 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 986px;
  top: 1748px;
}
.vector4 {
  width: 2.31%;
  height: 1.32%;
  position: absolute;
  right: 44.04%;
  left: 53.65%;
  bottom: 41.19%;
  top: 57.49%;
  overflow: visible;
}
.sawi-hijau-22 {
  width: 222px;
  height: 222px;
  position: absolute;
  left: 936px;
  top: 1302px;
  object-fit: cover;
  aspect-ratio: 1;
}
.jahe {
  width: 388px;
  height: 519px;
  position: static;
}
.rectangle-414 {
  background: #ffffff;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 388px;
  height: 519px;
  position: absolute;
  left: 1259px;
  top: 1276px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.kubis-kol-removebg-preview-12 {
  width: 235.27px;
  height: 222px;
  position: absolute;
  left: 1335px;
  top: 1310px;
  object-fit: cover;
  aspect-ratio: 235.27/222;
}
.rectangle-464 {
  background: #ffa726;
  border-radius: 20px;
  width: 363px;
  height: 65px;
  position: absolute;
  left: calc(50% - -407px);
  top: 1721px;
}
.jahe2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 1271px;
  top: 1552px;
}
._1-kg4 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1271px;
  top: 1606px;
}
.rp-30-000 {
  color: #388e3c;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1271px;
  top: 1654px;
}
.masukan-keranjang5 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1383px;
  top: 1739px;
}
.vector5 {
  width: 2.31%;
  height: 1.32%;
  position: absolute;
  right: 21.06%;
  left: 76.62%;
  bottom: 41.49%;
  top: 57.19%;
  overflow: visible;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    top: 0;
    padding: 13px;
    width: 100%;
    border-bottom: 1px solid #1EE16C;
    font-family: "Poppins";
}
.navbar-logo{
  margin-right:60px ;
  font-size: 32px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
}
.navbar-logo span{
  color: #1EE16C;
  font-weight: 600;
}
.navbar a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right:100px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.navbar a:hover{
  background-color: #1EE16C;
  border-radius: 8px;
  padding: 4px;
  color: white;
  transition: 0.3s ease-in-out;
}
.navbar img{
  width: 40px;
  margin-left: 290px;
}
.navbar-extra input{
  background-color: #1EE16C;
  width: 332px;
  height: 48px;
  border-radius: 10px;
  margin-right: 50px;
  border: none; 
  font-size: 17px;
  font-family: 'Poppins';
  font-style: italic;  
}
.navbar .icon {
  display: flex;
  float: right;
  margin-right: -30px;
  margin-top: 8px;
  margin-left: -47px;
}
.container-detail {
  background-color: #ffffff;
  z-index: 2;
  position: relative;
  height: 700px;
  margin-top: 200px;
  overflow: hidden; /* Membatasi konten agar tidak keluar */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kubis-kol-removebg-preview-2 {
  max-width: 100%;
  height: auto;
  position: relative; /* Hapus absolute */
  object-fit: contain; /* Agar tetap proporsional */
}
