*{
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    top: 0;
    padding: 13px;
    width: 100%;
    border-bottom: 1px solid #1EE16C;
    font-family: "Poppins";
}
.navbar-logo{
    margin-right:60px ;
    font-size: 32px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
}
.navbar-logo span{
    color: #1EE16C;
    font-weight: 600;
}
.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:100px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    background-color: #1EE16C;
    border-radius: 8px;
    padding: 7px;
    color: white;
    transition: 0.3s ease-in-out;
}
.navbar img{
    width: 40px;
    margin-left: 290px;
}
.navbar-extra{
    background-color: #C0D8BEB2;
    width: 332px;
    height: 48px;
    border-radius: 10px;
    margin-right: 50px;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main .shape img {
    width: 70%; 
    height: auto;
    margin-left: 57px;  
}
.beranda{
    font-family: 'Poppins';
    display: block;
    font-weight:200;
    margin-left: -700px;
    font-size: 30px;
    margin-top: 10px;
}
.beranda h1{
    font-weight: 400;
}
.beranda span{
    color: #388E3C;
}
button{
    background-color: #1EE16C;
    font-size: 25px;
    padding: 20px;
    border-radius: 30px;
    border-style:none ;
    color: #fff;
    font-weight:100;
}
.menu{
    margin-top: 200px;
}
.menu h1{
    font-family: 'Poppins';
    font-size: 40px;
    text-align: center;
}
.menu span{
    color: #1EE16C;
}
.menu-card{
    font-size: 20px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-left: 40px;
}
.menu-card img{
    width: 200px;
    height: 200px;
    background-color: #C0D8BE;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0,0.3);
}
.shape{
    background-color: #1EE16C;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 55%;
    width: 600px;
    height: 600px;
    z-index: -1;
}